In [5]:
d1 = {}
type(d1)
d1["A"] = 10
d1["B"] = 20
d1["C"] = 40
d1

{'A': 10, 'B': 20, 'C': 40}

In [41]:
cars = {"hyundai":"€40000","suzuki":"€60000","audi":"€50000","bmw":"€35000"}
cars

{'hyundai': '€40000', 'suzuki': '€60000', 'audi': '€50000', 'bmw': '€35000'}

In [42]:
#d1+cars will give TypeError
d1.update(cars)
d1

{'hyundai': '€40000', 'suzuki': '€60000', 'audi': '€50000', 'bmw': '€35000'}

In [33]:
d1["A"] = "€5000"
d1

{'A': '€5000', 'B': 20, 'C': 40}

In [38]:
#d1.values()[0:1] #error

In [39]:
d1.clear() #dict clear similar to lists
d1

{}

In [43]:
cars.pop("audi")
cars

{'hyundai': '€40000', 'suzuki': '€60000', 'bmw': '€35000'}

In [44]:
cars.keys()

dict_keys(['hyundai', 'suzuki', 'bmw'])

In [45]:
tuple(cars.keys())[1:5]

('suzuki', 'bmw')

In [46]:
list(cars.values())[0:2]

['€40000', '€60000']

In [47]:
list(cars.items())

[('hyundai', '€40000'), ('suzuki', '€60000'), ('bmw', '€35000')]

In [48]:
d1 = {}
type(d1)
d1["A"] = 10
d1["B"] = 20
d1["C"] = 40
d1

{'A': 10, 'B': 20, 'C': 40}

In [49]:
maze = {"k1":d1,
       "k2": [10,20,30],
       "k3": ("tuple",[1,2,{"k4":["a","b","catch me!"]}])}
maze

{'k1': {'A': 10, 'B': 20, 'C': 40},
 'k2': [10, 20, 30],
 'k3': ('tuple', [1, 2, {'k4': ['a', 'b', 'catch me!']}])}

In [66]:
maze["k3"][1][2]["k4"][2]

'catch me!'