In [5]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(-200,600,80))

[-200, -120, -40, 40, 120, 200, 280, 360, 440, 520]

In [5]:
nest = [[3,6,9], [2,4,6]]
nest[0]*5

[3, 6, 9, 3, 6, 9, 3, 6, 9, 3, 6, 9, 3, 6, 9]

In [10]:
new = [list(range(10)), list(range(20,80,10))]
new

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [20, 30, 40, 50, 60, 70]]

In [11]:
nest+new

[[3, 6, 9],
 [2, 4, 6],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [20, 30, 40, 50, 60, 70]]

In [20]:
no = [62,74,383,272,173]
no

[62, 74, 383, 272, 173]

In [24]:
type(no)
no.append(1008)
no

[62, 74, 383, 272, 173, 1008, 1008, 1008, 1008]

In [25]:
no.clear()
no

[]

In [27]:
no = [62,74,383,272,173]
no.sort()
no

[62, 74, 173, 272, 383]

In [49]:
no.insert(8,58)
no.insert(2,58)
no.sort()
no

[58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 58,
 62,
 74,
 173,
 272,
 383]

In [67]:
no.remove(58)
no

[62, 74, 173, 272, 383]

In [69]:
lis = ["boat", "bus", "car"]
lis.append(no)
lis

['boat', 'bus', 'car', [62, 74, 173, 272, 383]]

In [71]:
lis[3].insert(1,[10])
lis

['boat', 'bus', 'car', [62, [10], 74, 173, 272, 383]]

In [74]:
lis[3].remove([10])
lis

['boat', 'bus', 'car', [62, 74, 173, 272, 383]]